<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Merchant Portal</title>
  <link rel="shortcut icon" href="http://www.dh.com/profiles/dh/themes/dh_theme/favicon.ico"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../styles/orders.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="../scripts/scrollToEnd.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body ng-app="merchantPortalApp">

  <div ng-controller="ordersController" id="ordersController" class="content">
      
      <!-- Main Nav -->
      <div class="navbar-fixed">
          <!-- Main Nav Dropdown Structure -->
          <ul id="dropdown-settings" class="dropdown-content">
              <li><a href="#">My Account</a></li>
              <li><a href="#">Administration</a></li>
              <li class="divider"></li>
              <li><a href="login.html">Log Off</a></li>
          </ul> 
          <!-- End Main Nav Dropdown Structure -->
          
          <nav class="row blue-grey lighten-1">
              <div class="nav-wrapper">
                  <a href="#" class="brand-logo">D<span style="color: red">+</span>H Merchant Portal</a>
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                      <!-- Dropdown Trigger -->
                      <li><a class="dropdown-button" data-beloworigin="true" data-constrainwidth="false" data-activates="dropdown-settings">{{user}}<i class="material-icons left">account_circle</i><i class="material-icons right">arrow_drop_down</i></a></li>
                  </ul>
                  <ul class="side-nav" id="mobile-demo">
                      <li><a href="#">My Account</a></li>
                      <li><a href="#">Administration</a></li>
                      <li class="divider"></li>
                      <li><a href="login.html">Log Off</a></li>
                  </ul>
              </div>
          </nav> 
      </div>
      <!-- End Main Nav -->
      
      <ul id="slide-out" class="side-nav fixed">
          <li class="side-nav-title"><a class="side-nav-title">Order Status</a></li>
          <li><a href="#" ng-click="chooseStatus('Pending');" style="{{side[0]}}">Awaiting Actions<span class="badge ng-binding">{{countPending}}</span></a></li>
          <li><a href="#" ng-click="chooseStatus('Accepted');" style="{{side[1]}}">Accepted</a></li>
          <li><a href="#" ng-click="chooseStatus('Rejected');" style="{{side[2]}}">Rejected</a></li>
          <li><a href="#" ng-click="chooseStatus('');" style="{{side[3]}}">Any Status</a></li>
          <li class="divider"></li>
          <li class="side-nav-title"><a class="side-nav-title">Order Date</a></li>
          <li><a href="#" style="{{side[4]}}" ng-click="chooseDate(Date.today());">Today</a></li>
          <li><a href="#" style="{{side[5]}}" ng-click="chooseDate('');">Any Date</a></li>
          <li class="divider"></li>
          <li class="side-nav-title"><a class="side-nav-title">Order Type</a></li>
          <li><a href="#" style="{{side[6]}}" ng-click="chooseType('Credit Card');">Credit Card</a></li>
          <li><a href="#" style="{{side[7]}}" ng-click="chooseType('Bank Account');">Bank Account</a></li>
          <li><a href="#" style="{{side[8]}}" ng-click="chooseType('');">Any Type</a></li>
      </ul>
      

      <!-- Content -->
      <main>
          <div class="main">

              <!-- Table -->
              <div class="card-panel order-table">
                  <table class="responsive-table highlight">
                      <thead class="order-table" >
                          <tr>
                              <th class="selector"><input type="checkbox" ng-model="bool" ng-change="selectAll(bool)" id="selectAll"><label for="selectAll"></label></th>

                              <th class="status">
                                  <a href="#">
                                      Status
                                      <!--<i ng-show="sortBy == 'status' && !sortReverse" class="material-icons">arrow_drop_down</i>
                                    <i ng-show="sortBy == 'status' && sortReverse" class="material-icons">arrow_drop_up</i>-->
                                  </a>
                              </th>
                              <th class="number">
                                  <a href="#">
                                      Order Number
                                      <!--<i ng-show="sortBy == 'trackId' && !sortReverse" class="material-icons">arrow_drop_down</i>
                                    <i ng-show="sortBy == 'trackId' && sortReverse" class="material-icons">arrow_drop_up</i>-->
                                  </a>
                              </th>
                              <th class="name">
                                  <a href="#">
                                      Customer Name
                                      <!--<i ng-show="sortBy == 'customerName' && !sortReverse" class="material-icons">arrow_drop_down</i>
                                    <i ng-show="sortBy == 'customerName' && sortReverse" class="material-icons">arrow_drop_up</i>-->
                                  </a>
                              </th>
                              <th class="date">
                                  <a href="#">
                                      Order Date
                                      <!--<i ng-show="sortBy == 'date' && !sortReverse" class="material-icons">arrow_drop_down</i>
                                    <i ng-show="sortBy == 'date' && sortReverse" class="material-icons">arrow_drop_up</i>-->
                                  </a>
                              </th>

                              <th class="type">
                                  <a href="#">
                                      Order Types
                                      <!--<i ng-show="sortBy == 'orderType' && !sortReverse" class="material-icons">arrow_drop_down</i>
                                    <i ng-show="sortBy == 'orderType' && sortReverse" class="material-icons">arrow_drop_up</i>-->
                                  </a>
                              </th>
                              <th style="padding-bottom: 0px;padding-top: 0px;">
                                  <input style="margin-bottom: 0px;" type="text" placeholder="Search Order" ng-model="searchOrders"/>                                                                  
                              </th>
                          </tr>
                      </thead>

                      <tbody class="order-table-body order-table" scroll-to-end="scrollToEndContainer" >
                      <tr  class="order-row" ng-repeat="order in currentOrders | filter: searchOrders | filterDate: selectedDate | filterType: selectedType | filterStatus: selectedStatus as filteredOrders ">
                          <td ><input type="checkbox" ng-model="order.selected" id="{{order.trackId}}"><label for="{{order.trackId}}"></label></td>
                          <td class="status"><span class="new badge left" ng-class="{grey: order.status=='Action Required', red: order.status=='Rejected', green: order.status=='Accepted'}" data-badge-caption="">{{order.status}}</span></td>
                          <td class="number">{{order.trackId}}</td>
                          <td class="name">{{order.customerName}}</td>
                          <td class="date">{{order.date | date:"yyyy/MM/dd"}}</td>
                          <td class="type">{{order.orderType}}</td>
                          <td class="inline-control">
                              <a class="waves-effect waves-light dropdown-button btn inline-btn" data-activates="{{'drop' + order.trackId}}" data-dropup="true">Actions</a>
                              <ul id="{{'drop' + order.trackId}}" class='dropdown-content'>
                                  <li><a href="#" ng-click="showDetails(order.trackId)">View Details</a></li>
                                  <li><a href="#" ng-click="acceptSelected(order.trackId)">Accept</a></li>
                                  <li><a href="#" ng-click="rejectSelected(order.trackId)">Reject</a></li>
                              </ul>
                          </td>

                      </tr>
                      
                      <tr ng-show="!filteredOrders.length"><td><strong>No order matches the current set of filters</strong></td></tr>
                      </tbody>

                  </table>
              </div>
              <!-- End Table -->

              <div class="table-actions" ng-show="ifSelected()">
                  <a class="waves-effect waves-light btn" href="../../docs/orders.csv"><i class="material-icons right">file_download</i>Download</a>
                  <a class="waves-effect waves-light btn green" ng-click="acceptSelected('batch')"><i class="material-icons right">thumb_up</i>Accept</a>
                  
              </div>



          </div>





          <!-- Table Search -->
          <!--<form class="row form-control">
             

              <div class="col filters">

                  <a class='dropdown-button btn {{statusColor}}' href='#' data-activates='dropdown1'><i class="material-icons right">info_outline</i> Order Status</a>
                  <ul id='dropdown1' class='dropdown-content' ng-model="selectedStatus">
                      <li><a href="#" ng-click="chooseStatus('Pending'); statusColor='grey'">Action Required</a></li>
                      <li><a href="#" ng-click="chooseStatus('Accepted'); statusColor='green'">Accepted</a></li>
                      <li><a href="#" ng-click="chooseStatus('Rejected'); statusColor='red'">Rejected</a></li>
                      <li><a href="#" ng-click="chooseStatus(''); statusColor=''">View All</a></li>
                  </ul>

                  <a class='dropdown-button btn {{typeColor}}' href='#' data-activates='dropdown2'><i class="material-icons right">payment</i> Order Type</a>
                  <ul id='dropdown2' class='dropdown-content' ng-model="selectedType">
                      <li><a href="#" ng-click="chooseType('Credit Card'); typeColor='green'">Credit Card</a></li>
                      <li><a href="#" ng-click="chooseType('Bank Account'); typeColor='green'">Bank Account</a></li>
                      <li><a href="#" ng-click="chooseType(''); typeColor=''">View All</a></li>
                  </ul>

              </div>
              <div class="input-field col s2">
                  <i class="material-icons prefix">search</i>
                  <input id="search_table" type="text" ng-model="searchOrders">
                  <label for="search_table">Name or Order #</label>
              </div>
              <div class="input-field col s2">
                  <i class="material-icons prefix">date_range</i>
                  <input id="selectedDate" name="selectedDate" type="text" class="datepicker" ng-model="selectedDate" ng-change="chooseDate(selectedDate)" materialize-date-picker />
                  <label ng-class="{active: selectedDate.length}" for="selectedDate">Order Date</label>
              </div>


          </form>-->

      </main> <!-- End Content -->

  </div>
    <footer class="footer">
    <div class="copy">
        <div class="main">
            © 2017 DH MerchantPortal
        </div>
    </div>
    </footer>
</body>
</html>