body {
	margin: 0;
	padding: 0;
}

.main {
    
    /*margin: 0 5% 0 0;
    width: 95%;*/
}

.align-right {
	float: right;
}

/* Main Nav */

.brand-logo {
	margin-left: 30px;
}
.dropdown-button {
	margin-right: 30px;
}
.main-nav {
    position: fixed;
}

header, main, footer {
  padding-left: 250px;
}
.side-nav {
	margin-top: 65px;
    margin-left: 0;
    width: 250px;
    z-index: 1;
}
.side-nav-title a {
	
	font-weight: bold;
	font-size: 20px;
}


/* Table */

tr {
    /*width: 100%;*/  
}
.order-table {
    margin: 0!important;
    padding: 0 5px!important;
    
}

.filters {
    /*margin:20px 0 20px 0!important;
    padding: 0!important;*/
    display: inline;
}
.filters .btn {
    margin-right: 5px;
    margin-top: 20px;
}
.filters .dropdown-content {
    margin-right: 5px;
    margin-top: 20px;
}
.filterslabel {
    margin: 15px 0 0 20px!important;
    padding-right: 0!important;
}
.table-actions {
	display: inline;
	margin-left: 15px;
}
.table-actions .btn {
	margin-top: 10px;
}
.table-actions .dropdown-content {
	margin-top: 10px;
}
.pagination {
	margin: 5px 15px 15px 15px;
    
	line-height: 30px;
}
.pagination li {
	border: 1px solid;
}
.pagination .leftbtn {
	margin-left: 10px;
}
.order-table {
	margin: 15px;
}
table th a {
	color: #000000;
}

table .selector {
	padding-top: 16px;
	line-height: 10px;
    width: 20px;
}

table .status {
    width: 80px;
}

table .number {
    width: 15%;
    min-width: 120px;
}

table .name {
    width: 15%;
    min-width: 160px;
}

table .date {
    width: 15%;
    min-width: 120px;
}

table .type {
    width: 15%;
    min-width: 120px;
}

.badge {
	margin-left: 0 !important;
}

.form-btn {
    margin-top: 10px;
}

.inline-control {
    width: 480px !important;   
}

.inline-btn {
    max-width: 160px;
}

td, th {
    /*padding: 5px 5px 5px 5px!important;*/
}

.order-table
{
    display: block;
}

.order-table-body
{
   overflow: auto;
   height: 73vh;
}

.form-control {
    margin-bottom: 0;
}

/* Order Details */
.order-details {
	margin-left: 15px;
}
.order-details strong,
.order-details p {
	display: inline-block;
	font-size: 18px;
}

.order-para {
    width: 50px!important;
    margin: 15px 0 0 350px!important;
}

.order-para-label {
    margin: 30px 0 0 10px; 
}


/* Smaller Screens */

@media only screen and (max-width : 992px) {

  .align-right {
		float: left;
	}

  /* Main Nav */

  .brand-logo {
  	margin-left: 0;
  }

}

.inline {
    display: inline!important;
}

 .content {
  min-height: calc(100vh - 60px);
}
.footer {
  height: 46px;
}

.copy {
    position: relative;
    top: 20%;
    color: cadetblue;
    margin-left: 30px;
}